@model IEnumerable<MessageDTO>
@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Layout/Index.cshtml"; ;
}

<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <h4 class="page-title">Messages</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Messages Inbox</div>
                        </div>
                        <div class="card-body">
                            <div class="card-sub">
                                You can perform operations related to messages from the panel below :
                            </div>
                            <table class="table mt-3">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Sender</th>
                                        <th scope="col">Subject</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">See Message</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Name @item.SurName</td>
                                            <td>@item.Subject</td>
                                            <td>@item.SendDate.ToShortDateString()</td>
                                            <td><a asp-controller="Message" asp-action="MessageDetail" asp-route-id="@item.Id" class="btn btn-outline-dark">See Message</a></td>
                                            @if ( item.IsRead == true)
                                            {
                                                <td><a asp-controller="Message" asp-action="ChangeIsReadFalse" asp-route-id="@item.Id" class="btn btn-outline-warning">Change Status to Unread</a></td>
                                            }
                                            else
                                            {
                                                <td><a asp-controller="Message" asp-action="ChangeIsReadTrue" asp-route-id="@item.Id" class="btn btn-outline-info">Change Status to Read</a></td>
                                            }
                                            <td><a asp-controller="Message" asp-action="DeleteMessage" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="http://www.themekita.com">
                            ThemeKita
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Help
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://themewagon.com/license/#free-item">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright ml-auto">
                2018, made with <i class="la la-heart heart text-danger"></i> by <a href="http://www.themekita.com">ThemeKita</a>
            </div>
        </div>
    </footer>
</div>