@model IEnumerable<ContactDTO>
@{
    ViewData["Title"] = "GetContacts";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <h4 class="page-title">Contacts</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Contact List</div>
                        </div>
                        <div class="card-body">
                            <div class="card-sub">
                                You can perform operations related to Contacts from the panel below :
                            </div>
                            <table class="table mt-3">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Phone Number </th>
                                        <th scope="col">Phone Number 2</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Email 2</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Title</td>
                                            <td>@item.Description</td>
                                            <td>@item.PhoneNumber</td>
                                            <td>@item.PhoneNumber2</td>
                                            <td>@item.Email</td>
                                            <td>@item.Email2</td>
                                            <td>@item.Address</td>
                                            <td><a asp-controller="Contact" asp-action="UpdateContact" asp-route-id="@item.Id" class="btn btn-outline-info">Edit</a></td>
                                            <td><a asp-controller="Contact" asp-action="DeleteContact" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a asp-controller="Contact" asp-action="AddContact" class="btn btn-outline-success">Add New Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="http://www.themekita.com">
                            ThemeKita
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Help
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://themewagon.com/license/#free-item">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright ml-auto">
                2018, made with <i class="la la-heart heart text-danger"></i> by <a href="http://www.themekita.com">ThemeKita</a>
            </div>
        </div>
    </footer>
</div>
